/*
Autor: Jorge Marcelo
Data de Criação: 07/10/2023
Github: https://github.com/Jorge-Marcelo
Linkedin: https://www.linkedin.com/in/jorge-marcelo-067a5017b/
Instagram: https://www.instagram.com/10_stronger/
Threads: https://www.threads.net/@10_stronger
*/

/*Google Fonts*/
@import url("https://fonts.googleapis.com/css2?family=Sofia+Sans+Condensed:ital@1&display=swap");

/*Fonte direto do diretorio do projeto*/
@font-face {
font-family: Sofia Sans Condensed;
src: url("../assets/fonte/SofiaSansCondensed-Italic.ttf");
}

/*Configurações padrão*/
* {
margin: 0;
padding: 0;
box-sizing: border-box;
text-align: center;
transition: all 0.5s ease;
font-family: "Sofia Sans Condensed", sans-serif;
}

/*Background color*/
body {
background-color: rgb(58, 147, 248);
}

/*Formulario*/
main {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
width: 320px;
background-color: rgb(41, 40, 40);
border-radius: 10px;
box-shadow: 0 20px 25px rgba(0, 0, 0, 0.25);
position: absolute;
transform: translate(-50%, -50%);
left: 50%;
top: 50%;
padding: 10px;
border: 3px solid rgb(255, 255, 255);
}

/*Containers*/
section {
display: flex;
flex-direction: column;
justify-content: space-between;
margin: 20px;
font-size: 1.5em;
color: rgb(255, 255, 255);
}

/*Textos*/
h1 {
color: rgb(0, 81, 255);
font-size: 1.5em;
font-weight: 900;
margin: 10px;
}

h2 {
color: rgb(0, 102, 255);
font-size: 1.7em;
font-weight: 900;
margin-top: 15px;
margin-bottom: 30px;
}

h3 {
color: red;
}

h4 {
color: rgb(0, 255, 76);
}

/*Lista ordenada*/
ol {
margin-top: 10px;
}

/*Item da lista*/
li {
font-size: 1em;
color: blue;
}

/*classe da tarefa completa*/
.completa {
list-style: none;
}

/*classe da tarefa incompleta*/
.incompleta {
list-style: none;
}

/*Removendo classe padrão dos icones de adicionar e remover*/
button {
font-size: 1em;
margin: 5px;
padding: 2px;
cursor: pointer;
border: none;
background: none;
}

/*Adicionando classes aos icones*/
.fa-trash {
padding: 3px;
color: red;
}

.fa-check {
padding: 3px;
color: rgb(0, 255, 115);
}

/*Linha de separação entre tarefa completa e incompleta*/
hr {
margin-top: 5px;
background-color: white;
height: 5px;
}

/*Input para adicionar tarefa*/
input {
background-color: transparent;
height: 40px;
border: 2px solid #ffffff;
border-radius: 10px;
width: 100%;
font-size: 1em;
outline: none;
color: #ffffff;
}

input:focus {
border-color: rgb(0, 68, 255);
}

/*Classes de redes sociais*/
.Adicionar {
width: 200px;
border-radius: 10px;
height: 40px;
margin: 10px;
border: 3px solid rgb(0, 0, 0);
color: rgb(0, 0, 0);
background-color: rgb(255, 255, 255);
font-size: 1.2em;
}
.Adicionar:hover {
background-color: rgb(43, 101, 226);
cursor: pointer;
}

/*Classes de redes sociais*/
.social {
background: transparent;
border: 2px solid rgb(0, 81, 255);
background-color: white;
transition: transform 0.3s ease-in-out;
border-radius: 100%;
margin: 0 7px;
width: 50px;
height: 50px;
cursor: pointer;
}

.social:hover {
background-color: rgb(0, 38, 255);
border: 2px solid rgb(255, 255, 255);
transition: all 1s ease-in;
transform: rotateY(360deg);
}
